.btn-normal {
  border: 0;
  background-color: $indigo-200.0;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  padding: 0 16px;
  transition: background-color ease 0.5s;
  font-weight: bold;
  &:hover {
    background-color: $indigo-200;
  }
}
