$red-500: #f44336;
$red-700: #d32f2f;
$red-300: #e57373;

$lightblue-200: #81d4fa;
$lightblue-400: #29b6f6;
$lightblue-600: #039be5;

$Primarytext: rgba(0, 0, 0, .87);
$Secondarytext: rgba(0, 0, 0, .54);
$Disabletext: rgba(0, 0, 0, .38);

$content: #fafafa;
