$red-200: #ef9a9a;
$red-300: #e57373;
$red-500: #f44336;
$red-700: #d32f2f;
$red-300: #e57373;
$red-900: #b0120a;
$red-100: #f9bdbb;

$indigo-500: #3f51b5;
$indigo-700: #303f9f;
$indigo-900: #1a237e;

$primarytext: rgba(0, 0, 0, .87);
$secondarytext: rgba(0, 0, 0, .54);
$disabletext: rgba(0, 0, 0, .38);

$content: #fafafa;
$content2: #f7f7f7;
$content3: #eeeeee;
$dividers: #e0e0e0;

$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;

$icon: rgba(0, 0, 0, .38);
