@import "home-content";
@import "search-content";
@import "sidebar";

.content {
  flex: 1;
  display: flex;
  position: relative;
  align-items: strench;
}

.main-content {
  flex: 1;
  position: relative;
  display: flex;
}
