@import "searchbar";
@import "user-state";

@define-extend bg-dark {
  background: linear-gradient(to bottom, #696969, #696969 2%, #3f3f3f 5%, black);
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-top: 0.8px solid black;
  border-bottom: 3px solid #c70c0c;
  padding: 0 30px;
  justify-content: space-between;
  @extend bg-dark;
}

.header__logo {
  img {
    height: 55px;
  }
}
