@define-mixin cover $size {
  height: $size;
  width: $size;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.playcontent {
  bottom: 70px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
  background-color: $indigo-50;
}

.playcontent.max {
  bottom: calc(50% - 300px);
  left: calc(50% - 250px);
  box-shadow: 0px 24px 24px rgba(0, 0, 0, .18);
  padding-top: 70px;
}

.miniplaycontent-wrapper {
  display: flex;
  padding: 10px 10px;
  position: absolute;
  transition: all ease 0.5s;
  width: 300px;
  height: 100px;
  right: 0;
  top: 0;
}

.maxplaycontent-wrapper {
  display: flex;
  position: absolute;
  transition: all ease 0.5s;
  width: 100%;
  height: 100%;
}

.miniplaycontent__cover {
  @mixin cover 80px;
}

.miniplaycontent__info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-around;
}

.miniplaycontent__info__name {
  color: $primarytext;
}

.miniplaycontent__info__artist {
  color: $secondarytext;
}

.maxplaycontent-bg {
  background-size: cover;
  filter: blur(20px);
  position: absolute;
  width: 100%;
  height: 100%;
}

.maxplaycontent-main {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 40px;
  color: #fff;
}

.maxplaycontent-song {
  display: flex;
  flex: 1;
}

.maxplaycontent__cover {
  @mixin cover 200px;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, .18);
}

.maxplaycontent__info {
  margin-left: 20px;
  padding-top: 20px;
}

.maxplaycontent__info__name {
  font-size: 40px;
  height: 50px;
  line-height: 50px;
}

.maxplaycontent__info__artist {
  margin-top: 10px;
  font-size: 25px;
  height: 35px;
  line-height: 35px;
  color: rgba(255, 255, 255, .54);
}

.maxplaycontent__info__album {
  margin-top: 10px;
  font-size: 25px;
  height: 35px;
  line-height: 35px;
  color: rgba(255, 255, 255, .54);
}

.maxplaycontent-lyric {
  flex: 1;
  height: 200px;
  overflow-y: auto;
  @mixin scrollbar;
}
