.search-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: $primarytext;
  background-color: $content3;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  @mixin scrollbar;
}


.search-content__headinfo {
  width: 100%;
  padding: 35px 30px 5px 30px;   
  border-bottom: 2px solid #c70c0c;
  background-color: $content;
  p {
    font-size: 25px;
  }
  .keywords {
    color: $secondarytext;
    margin-right: 10px;
  }
}

/* FIXME */
.search-content__main {
  height: 0;
}

.search-content__main__bestmarch {
  h2 {
    padding:16px 30px;
    font-size: 21px;
  }
  .songcard {
    margin-left: 30px;
  }
}

.search-content__main__result {
  margin-top: 30px;
}
