.sidebar {
  min-height: 100%;
  width: 300px;
  background-color: #fff;
  border-right: 1px solid $dividers;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__name {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.15);
  writing-mode: vertical-lr;
}
