.songlist {
  width: 100%;
  font-size: 18px;
  background-color: $content2;
  color: $primarytext;
  border-top: 1px solid $dividers;
  tr {
    height: 35px;
    line-height: 35px;
  }

  th,td {
    padding-left: 5px;
    border-left: 1px solid $dividers;
  }

  thead tr {
    padding: 5px 0;
    background-color: $grey-400;
    th {
      height: 40px;
      line-height: 40px;
    }
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: $grey-200;
    }
    tr {
      transition: all ease 0.5s;
    }
    tr:hover {
      background-color: $grey-300;
    }
  }
}
.songlist-table__index {
  width: 5%;
  padding-right: 10px;
  text-align: right;
}

.songlist-table__name {
  width: 30%;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.songlist-table__button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .i {
    fill: $icon;
    height: 30px;
    width: 30px;
    margin-top: 2px;
    /* FIXME:  parent can't height 100% */
    transform: translateY(6px);
  }
  * {
    cursor: pointer;
  }
}

.songlist-table__artists {
  width: 20%;
}

.songlist-table__album {
  width: 20%;
}

.songlist-table__duration {
  width: 5%;
}

.songlist-table__hot {
  width: 15%;
}

.songlist-table__hotbar-wrapper {
  height: 10px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: black;
  overflow: hidden;
}

.songlist-table__hotbar {
  background-color: #770000;
  height: 100%;
}

.songlist-table {
  text-align: left; 
  width: 100%;
}
