.header__user {
  height: 50px;
  display: flex;
  align-items: center;
  color: #D6D6D6;
}

.header__user__avatar {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .loader {
    font-size: 7px;
  }
}

.header__user__login, .header__user__name {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
