.player__volume {
  display: flex;
  align-items: center;
}

.player__volume__bar-wrapper {
  width: 120px;
  height: 10px;
  margin-left: 10px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}

.player__volume__bar {
  background-color: #f41618;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
