@import "reset";
@import "colors";
@import "scrollbar";
@import "header";
@import "player";
@import "content";
@import "button";
@import "spinner";
@import "songcard";
@import "albumcard";
@import "songlist";
@import "loginform";
@import "card";
@import "playcontentcard";

* {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

body {
  overflow: hidden;
}
