@import "reset";
@import "colors";
@import "scrollbar";
@import "header";
@import "content";
@import "player";
@import "button";
@import "spinner";
@import "songcard";
@import "albumcard";
@import "songlist";
@import "loginform";

* {
  box-sizing: border-box;
  cursor: default;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  overflow: hidden;
}
